html {     
    min-height: 100%;
}

body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgb(253, 83, 151) 10%, rgb(255, 182, 211));
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue';
    color: white;
    font-weight: 500;
    margin-bottom: 200px;
}

#main-title {
    color: white;
    font-size: 80px;
    margin-left: 1.5%;
    display: inline;
}
#top-menu {
    color: white;
    display: inline;
}

#top-menu li {
    display: inline;
    margin: 10px;
}
a { 
    color: white;
    text-decoration: none;
}
a:hover {
    background-color: rgb(204, 50, 150);
}
main {
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 20%;
}

#fotoinicio {
    margin-left: 1.5%;;
    width: 100px;
    position: absolute;
    animation: caindo 10s infinite;
}
  
  @keyframes caindo {
    0%   {top:0px;}
    100% {top:500px;}
  }